.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge__dot {
  width: 5px;
  height: 5px;
  left: 30px;
  bottom: 30px;
}

.badge__dot2 {
  background-color: tomato;
  border-radius: 15px;
  position: absolute;
  width: 10px;
  height: 10px;
  right: -10px;
  top: -10px;
}
